<header>
    <div class="top-nav">
        <div class="nav-wrapper">
            <h3 class="header">New Schedule</h3>                                      
        </div>
    </div>    
</header>

<p class="header">Click on the available hour in the calendar of the desired arena.</p>

<% @arenas.each do |arena| %>
    <p class="header right"><%= @date.strftime('%B of %Y') %></p> 
    <%= sync partial: 'arena', resource: arena %>
    <p class="header"><%= arena.name %></p> 
<% end %>

<%= render 'form', schedule: @schedule %>