<p>
  <strong>User:</strong>
  <%= @schedule.user %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @schedule.hour %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
